<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sentry Monitor</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="chart"></div>
    <script src="/scripts/jquery.min.js" type="application/javascript"></script>
    <script src="/scripts/jquery.flot.min.js" type="application/javascript"></script>
    <script src="/scripts/jquery.flot.time.min.js" type="application/javascript"></script>
    <script src="/scripts/script.js" type="application/javascript"></script>
</body>
</html>
